body
{
  background-color: #6495ED;
}
h1
{
  margin-left: 35%
;}
img{
 margin-left: 20%;
}
p {
  color: green;
  font-size: 30px;
  font-style: italic;
}
table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 20px ;
}

th{
  text-align: left;
}
 table
 {
   border-spacing: 50px;
 }
